main {
	padding: 6px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 12px 12px 4px 12px;
	background-color: #666;
	color: white;
	font-family: sans-serif;
	font-size: 0.8em;
}

.titleGraphics {
	background-color: #666;
	padding: 12px;
	height: 150px;
	text-align: center;
}

.landing {
	dislpay: flexbox;
	flex-direction: row;
	justify-content: flex-start;
}

.headline {

}

.input-group {
	margin-top: 6px;
}

.price {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.emph {
	font-family: 'UnifrakturCook', cursive;
	font-size: 4.0em;
}

.emph2 {
	font-family: 'UnifrakturCook', cursive;
	font-size: 0.5em;
}

#logo {
	height: 120px;
	width: auto;
}

#guitars,
#leather,
#lycra,
#pyro,
#venue {
	display: none;
}


/*CSS for radio button*/
